absl-py==1.4.0
addict==2.4.0
aenum==3.1.12
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
bddl==1.0.1
blinker==1.7.0
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.7
cloudpickle==2.2.1
cmake==3.26.3
comm==0.2.1
ConfigArgParse==1.7
contextlib2==21.6.0
contourpy==1.0.7
cvxpy==1.3.1
cycler==0.11.0
Cython==3.0.8
dash==2.15.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
dill==0.3.6
durationpy==0.6
e3nn==0.5.1
ecos==2.0.12
exceptiongroup==1.1.1
execnet==2.0.2
executing==1.2.0
fastjsonschema==2.16.3
filelock==3.12.0
Flask==3.0.1
fonttools==4.39.4
freetype-py==2.4.0
frozenlist==1.4.1
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
glob2==0.7
google-auth==2.19.1
google-auth-oauthlib==1.0.0
GPUtil==1.4.0
grpcio==1.54.2
gym==0.26.2
gym-notices==0.0.8
h5py==3.8.0
hydra-core==0.11.3
idna==3.4
igibson==2.2.2
importlib-metadata==6.6.0
importlib-resources==5.12.0
iniconfig==2.0.0
ipython==8.12.2
ipywidgets==8.1.1
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.17.3
jupyter_core==5.3.0
jupyterlab-widgets==3.0.9
jupytext==1.14.5
kiwisolver==1.4.4
lit==16.0.5.post0
lmdb==1.4.1
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.5
mdurl==0.1.2
mock==5.1.0
mpmath==1.3.0
msgpack==1.0.5
msgpack-numpy==0.4.8
nbformat==5.8.0
nest-asyncio==1.6.0
networkx==2.2
ninja==1.11.1
numpy==1.24.4
oauthlib==3.2.2
omegaconf==2.3.0
open3d==0.18.0
opencv-python==4.7.0.72
opt-einsum==3.3.0
opt-einsum-fx==0.1.4
osqp==0.6.3
-e git+https://github.com/irom-lab/perception-guarantees.git@2f608416a4600a0e09cc8793902e51d3cadfc538#egg=pac_perception
packaging==23.1
pandas==2.0.1
parso==0.8.3
path==16.9.0
path.py==12.5.0
pexpect==4.8.0
pickle5==0.0.11
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
platformdirs==3.5.1
plotly==5.18.0
pluggy==1.0.0
plyfile==0.9
pointnet2==0.0.0
progressbar==2.5
prompt-toolkit==3.0.38
protobuf==4.23.2
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py360convert==0.1.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybullet-svl==3.1.6.4
pyglet==1.5.27
Pygments==2.15.1
PyOpenGL==3.1.7
pyparsing==3.0.9
pyquaternion==0.9.9
pyrsistent==0.19.3
pytest==7.3.1
pytest-shutil==1.7.0
python-dateutil==2.8.2
pytorch-lightning==0.7.1
pytz==2023.3
PyYAML==6.0
pyzed @ file:///usr/local/zed/pyzed-4.0-cp38-cp38-linux_x86_64.whl
pyzedhub @ file:///tmp/selfgz3475101/pyzedhub-0.73-cp38-cp38-linux_x86_64.whl
qdldl==0.1.7
ray==2.9.0
requests==2.30.0
requests-oauthlib==1.3.1
retrying==1.3.4
rsa==4.9
scikit-learn==1.3.1
scipy==1.10.1
scs==3.2.3
shapely==2.0.2
six==1.16.0
smmap==5.0.0
stack-data==0.6.2
sympy==1.12
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.0
termcolor==2.4.0
threadpoolctl==3.2.0
toml==0.10.2
tomli==2.0.1
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.65.0
traitlets==5.9.0
transforms3d==0.4.1
trash-cli==0.23.2.13.2
trimesh @ git+https://github.com/allenzren/trimesh.git@43eda0e251855c4af93506606a4c866a971e2f10
triton==2.0.0.post1
typing==3.7.4.3
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.16
wcwidth==0.2.6
Werkzeug==3.0.1
widgetsnbextension==4.0.9
zipp==3.15.0
